<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @profile.user %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @profile.job_title %>
</p>

<p>
  <strong>About me:</strong>
  <%= @profile.about_me %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
