<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @contribution.title %>
</p>

<p>
  <strong>Details:</strong>
  <%= @contribution.details %>
</p>

<p>
  <strong>Challenge:</strong>
  <%= @contribution.challenge %>
</p>

<p>
  <strong>User:</strong>
  <%= @contribution.user %>
</p>

<p>
  <strong>Reward:</strong>
  <%= @contribution.reward %>
</p>

<p>
  <strong>Contribution type:</strong>
  <%= @contribution.contribution_type %>
</p>

<%= link_to 'Edit', edit_contribution_path(@contribution) %> |
<%= link_to 'Back', contributions_path %>
