<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @challenge.title %>
</p>

<p>
  <strong>Details:</strong>
  <%= @challenge.details %>
</p>

<p>
  <strong>Public:</strong>
  <%= @challenge.public %>
</p>

<%= link_to 'Edit', edit_challenge_path(@challenge) %> |
<%= link_to 'Back', challenges_path %>
